################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevCard/.vs/DevCard/v16/Server/sqlite3/db.lock
